/* GENERAL PAGE STYLING */
* {
  margin: 0;
  padding: 0;
}
body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1,
nav {
  padding-left: 2%;
}

/* STYLING FOR HEADER */
header {
  background: #a2546e;
  height: 20vh;
}
 h1 {
   font-size: 2.2em;
   font-weight: lighter;
   padding-top: 3%;
 }


/* STYLING FOR NAVIGATION W/IN HEADER */

nav ul li {
  display: inline-block;
  padding-top: 2.3%;
}

nav ul li {
  border: 5px solid #a2546e;
  padding-right: 2%;
}

/* HIGHLIGHT NAV SELECTION */

.highlight {
  border-bottom: 5px solid #a2546e;
}
